.events {
  @include content-padding-inline;

  &__title {
    @include on-tablet {
      grid-area: title;
    }
  }

  &__list {
    @include vertical-list-60;

    @include on-tablet {
      grid-area: list;
    }
  }

  &__more-link {
    margin-top: 30px;

    @include on-tablet {
      place-self: end center;
      margin: 0;
      grid-area: more;
    }
  }
}
