.exhibitions {
  @include content-padding-inline;
  @include section-base-gap;

  &__title {
    @include on-tablet {
      grid-area: title;
    }
  }

  &__list {
    @include vertical-list-60;

    @include on-tablet {
      @include page-grid;

      grid-area: list;
    }
  }

  &__more-link {
    margin-top: 30px;

    @include on-tablet {
      justify-self: end;
      grid-area: more;
    }
  }
}
