.icon {
  display: block;
  height: 30px;
  width: 30px;

  @include hover(transform, scale(1.2));

  &--small-size {
    height: 20px;
    width: 20px;
  }

  &--menu {
    background-image: url(../images/icons/icon-menu.svg);
  }

  &--close {
    background-image: url(../images/icons/icon-cross.svg);
    order: 1;

    @include on-tablet {
      order: 0;
    }
  }

  &--fb {
    background-image: url(../images/icons/icon-fb.svg);
    background-repeat: no-repeat;
  }

  &--twitter {
    background-image: url(../images/icons/icon-twitter.svg);
  }

  &--telegram {
    background-image: url(../images/icons/icon-telegram.svg);
  }

  &--instagram {
    background-image: url(../images/icons/icon-instagram.svg);
  }
}
