.section-grid {
  @include on-tablet {
    @include page-grid;

    gap: 70px;

    grid-template-areas:
      'title title title title more more'
      'list list list list list list';
  }

  @include on-desktop {
    grid-template-areas:
      'title title title title title title title title title more more more'
      'list list list list list list list list list list list list';
  }
}
