.title {
  font-family: $text-title-font;
  font-weight: 700;

  &--main-section {
    text-align: center;
    font-size: 28px;
    line-height: 125%;
    align-self: center;
    margin-bottom: 60px;

    @include on-tablet {
      font-size: 40px;
      text-align: left;
      margin-bottom: 0;
    }

    @include on-desktop {
      font-size: 48px;
      line-height: 120%;
    }
  }

  &--reverse-style {
    color: $white-color;
    font-size: 38px;
    line-height: 100%;

    @include on-tablet {
      font-size: 62px;
    }

    @include on-desktop {
      font-size: 80px;
    }
  }
}
