$main-color: #cd4d31;
$red-hover-color: #af3419;
$red-active-color: #ea340d;
$red-disabled-color: #dd836f;
$white-color: #f1f5f4;
$black-text-color: #000;
$gray-text-color: #504f5e;
$background-color: #3f5252;
$tablet-min-width: 768px;
$desktop-min-width: 1280px;
$text-page-font: 'Raleway', sans-serif;
$text-title-font: 'Playfair Display', serif;
$transform-duration-time: 0.3s;
$section-base-gap-mob: 30px;
$section-base-gap-tablet: $section-base-gap-mob + 30px;
$section-base-gap-desktop: $section-base-gap-mob + 60px;
