.header {
  position: relative;
  background-color: #3f5252;
  background-image: url(../images/header_img.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 245px 273px;

  @include on-tablet {
    background-size: 443px 494px;
  }

  @include on-desktop {
    background-position: bottom right;
    background-size: 625px 663px;
  }

  color: $white-color;

  &__content {
    box-sizing: border-box;
    height: 100vh;

    display: flex;
    flex-direction: column;

    @include content-padding-inline;

    @include on-desktop {
      height: 800px;
    }
  }

  &__main-info {
    width: 267px;

    @include on-tablet {
      width: 330px;
    }

    @include on-desktop {
      width: 569px;
    }
  }

  &__add-info {
    margin-top: 50px;

    @include on-tablet {
      margin-top: 99px;
    }

    @include on-desktop {
      margin-top: 90px;
    }
  }

  &__title {
    margin-block: 10px 30px;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: normal;

    @include on-tablet {
      margin-bottom: 20px;
      font-size: 72px;
      max-width: 569px;
    }

    @include on-desktop {
      font-size: 96px;
      max-width: 569px;
    }
  }

  &__button {
    margin-top: 40px;

    @include on-tablet {
      margin-top: 50px;
      width: 330px;
    }

    @include on-desktop {
      margin-top: 81px;
    }
  }

  &__time-info {
    display: none;

    @include on-desktop {
      display: flex;
      margin-top: 135px;
      padding-bottom: 50px;
      align-items: center;
    }
  }

  &__time {
    font-family: $text-page-font;
    font-size: 14px;
    line-height: 125%;
    color: inherit;
    margin-right: 20px;
  }

  &__divider {
    background-color: $white-color;
    width: 469px;
    height: 1px;
  }
}
