.news {
  @include content-padding-inline;
  @include section-base-gap;

  &__title {
    @include on-tablet {
      grid-area: title;
    }
  }

  &__list {
    @include vertical-list-60;

    @include on-tablet {
      @include page-grid;

      grid-area: list;
    }
  }

  &__more-link {
    @include on-tablet {
      grid-area: more;
      justify-self: end;
    }
  }
}
